<fieldset class="device_container">
  <legend>Port</legend>
  <ul>
    <li *ngIf="port$ | async as port">
      <span>
        USB Device PID:0x{{ port.getInfo().usbProductId?.toString(16) }}
      </span>
      <span> VID:0x{{ port.getInfo().usbVendorId?.toString(16) }}</span>
    </li>
  </ul>
  <button *ngIf="!(port$ | async)" type="button" (click)="addDevice()">
    ADD DEVICE
  </button>
  <ng-container *ngIf="port$ | async as port">
    <button
      *ngIf="!(portIsConnected$ | async)"
      type="button"
      (click)="connectPort(port)"
    >
      CONNECT
    </button>
  </ng-container>
</fieldset>

<fieldset class="data_container" [disabled]="!(portIsConnected$ | async)">
  <legend>Data</legend>
  <ul>
    <li>
      <label>
        timeStamp:
        <span *ngIf="lastFrame$ | async as f">{{ f.timeStamp }}</span>
      </label>
    </li>
    <li>
      <label>
        sens1:
        <span *ngIf="lastFrame$ | async as f">{{ f.sensor1 }}</span>
      </label>
    </li>
    <li>
      <label>
        sens2:
        <span *ngIf="lastFrame$ | async as f">{{ f.sensor2 }}</span>
      </label>
    </li>
    <li>
      <label>
        sens3:
        <span *ngIf="lastFrame$ | async as f">{{ f.sensor3 }}</span>
      </label>
    </li>
    <li>
      <label>
        sens4:
        <span *ngIf="lastFrame$ | async as f">{{ f.sensor4 }}</span>
      </label>
    </li>
  </ul>
  <button
    *ngIf="!(isRecording$ | async)"
    type="button"
    (click)="startRecording()"
  >
    <span>🟢</span>
    RECORD
  </button>
  <button *ngIf="isRecording$ | async" type="button" (click)="stopRecording()">
    <span>🟥</span>
    STOP
  </button>
  <button
    *ngIf="!(isRecording$ | async)"
    type="button"
    (click)="saveDataToFile()"
  >
    SAVE
  </button>
</fieldset>

<!-- <fieldset class="data_container">
  <legend>Recording</legend>
  <span>Time: 10 s</span>
  <br />
  <span>Points: 234</span>
</fieldset> -->

<!--
<fieldset class="chart_container">
  <legend>Chart</legend>
</fieldset> -->
